@media print {
  @page {
    margin: 2em;
  }
  input, textarea, select, button, .badge, .ui{
    display: none !important;
  }
  body {
    margin: 2rem 3rem 6rem 3rem;
    font-size: 12pt;
    min-width: 960px;
    &:after{
      display: none;
    }
  }
}
