.quote {
  margin-top: 4em;
  .table {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }
  .table-header{
    display: flex;
    flex-direction: row;
    position: relative;
    font-weight: bold;
  }
  .table-content, .table-footer{
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .table-row{
    display: flex;
    flex-direction: row;
    position: relative;
  }
  .table-head {
    vertical-align: bottom;
    text-align: left;
    font-weight: bold;
    border: none;
  }
  .table-head{
    padding: 1em;
  }
  .table-cell{
    padding: 1em 0.5em 0.5em 0.5em;
  }
  .table-cell {
    border-top: none;
    &.title {
      border-top: 1px solid #000;
    }
    &.fee, &.days, &.feeperamount, &.detail {
      border-top: 1px solid #000;
    }
    &.empty {
      border: none;
    }
  }
  .quote-item .table-cell:first-child {
    &.title {
      flex: 30%;
    }
  }
  .title {
    flex: 30%;
  }
  .details {
    flex: 70%;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    padding: 0;
    position: relative;
  }
  .detail {
    flex: 60%
  }
  .days {
    flex: 8%;
  }
  .feeperamount {
    flex: 10%;
  }
  .fee {
    flex: 12%;
  }
  .days, .feeperamount, .fee {
    text-align: right;
    input, textarea {
      text-align: right;
    }
  }
  .quote-total {
    font-weight: bold;
    .table-cell {
      &.details > .table-cell {
        border-top: none;
      }
      border-top: 2px solid #000;
    }
  }
  .quote-item {
    position: relative;
  }
  .quotedetail-actions, .quoteitem-actions, .quote-actions{
    position: relative;
    padding: 0.5em 0 0.5em 1em;
    display: block;
    width: 100%;
    text-align: right;
  }

  .quotedetail-actions {
    button {
      margin-right: 0.5em;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .quoteitem-actions {
    text-align: right;
    button:not(:hover){
      background: white;
    }
  }
  .quote-actions {
    text-align: center;
    padding: 1em;
  }
}
